In [1]:
from cProfile import label
import matplotlib.pyplot as plt
import csv
import numpy as np
import pandas as pd
from sympy import *
import scipy as sp
import sys
sys.path.append('..')

from libka import *

In [2]:
df = pd.read_csv("in/hysteresis.csv", names = ["Tset", "T", "x", "y"], header = 0)

In [3]:
df["Uc"] = df["x"] / 2
df["Uy"] = df["y"]/2

In [4]:
df

    Tset     T    x    y   Uc   Uy
0     22  32.0  1.2  5.6  0.6  2.8
1     26  31.9  1.2  5.6  0.6  2.8
2     30  31.7  1.2  5.6  0.6  2.8
3     34  33.3  1.2  5.6  0.6  2.8
4     38  37.2  1.2  5.8  0.6  2.9
5     42  41.1  1.2  5.8  0.6  2.9
6     46  45.0  1.0  6.0  0.5  3.0
7     48  47.0  1.0  6.0  0.5  3.0
8     49  48.0  1.0  6.2  0.5  3.1
9     50  49.0  0.8  6.0  0.4  3.0
10    51  50.0  0.6  5.2  0.3  2.6
11    52  50.0  0.4  4.6  0.2  2.3
12    53  51.8  0.4  4.0  0.2  2.0
13    54  52.8  0.4  3.8  0.2  1.9
14    55  53.8  0.4  3.4  0.2  1.7
15    56  54.7  0.4  3.2  0.2  1.6
16    57  55.7  0.2  3.0  0.1  1.5
17    58  56.7  0.2  2.8  0.1  1.4