In [1]:
from cProfile import label
import matplotlib.pyplot as plt
import csv
import numpy as np
import pandas as pd
from sympy import *
import scipy as sp
import sys
sys.path.append('..')

from libka import *

In [2]:
df = pd.read_csv("in/hysteresis.csv", names = ["Tset", "T", "x", "y"], header = 0)
TK = 273.15 # K

In [3]:
df.insert(2, "TK", df["T"] + TK)
df["Uc"] = df["x"] / 2
df["Uy"] = df["y"]/2

In [4]:
df

    Tset     T      TK    x    y   Uc   Uy
0     22  32.0  305.15  1.2  5.6  0.6  2.8
1     26  31.9  305.05  1.2  5.6  0.6  2.8
2     30  31.7  304.85  1.2  5.6  0.6  2.8
3     34  33.3  306.45  1.2  5.6  0.6  2.8
4     38  37.2  310.35  1.2  5.8  0.6  2.9
5     42  41.1  314.25  1.2  5.8  0.6  2.9
6     46  45.0  318.15  1.0  6.0  0.5  3.0
7     48  47.0  320.15  1.0  6.0  0.5  3.0
8     49  48.0  321.15  1.0  6.2  0.5  3.1
9     50  49.0  322.15  0.8  6.0  0.4  3.0
10    51  50.0  323.15  0.6  5.2  0.3  2.6
11    52  50.0  323.15  0.4  4.6  0.2  2.3
12    53  51.8  324.95  0.4  4.0  0.2  2.0
13    54  52.8  325.95  0.4  3.8  0.2  1.9
14    55  53.8  326.95  0.4  3.4  0.2  1.7
15    56  54.7  327.85  0.4  3.2  0.2  1.6
16    57  55.7  328.85  0.2  3.0  0.1  1.5
17    58  56.7  329.85  0.2  2.8  0.1  1.4